<h1>Buscador de vuelos cutre</h1>
<hr>

<form action="/vuelos/resultados" method="get">

    Origen:
    <input type="text" name="origin"> <br><br>

    Destino:
    <input type="text" name="destination"> <br><br>

    Fecha salida:
    <input type="text" name="date"> <br><br>

    <input type="submit" value="BUSCAR VUELOS">

</form>