<h1>Resultados de vuelos</h1>
<hr>

<p>Aquí mostrarías los resultados de consultar a la BBDD los vuelos de {{origin}} a {{destination}} para el día {{date}}
</p>

<a href="/vuelos/buscar">Buscar otro vuelo</a>