<h1>{{appTitle}} 🚀</h1>
<hr>
<h3>Route params</h3>

<p>Los route params se almacenan en el objeto <code>req.params</code></p>
<p>Ejemplo de páginas de vuelos:</p>
<ul>
    <li>
        <a href="/vuelos/madrid/berlin/23-11-2022" target="_blank">Ejemplo 1</a>
    </li>
    <li>
        <a href="/vuelos/amsterdam/utrecht/09-02-2025" target="_blank">Ejemplo 2</a>
    </li>
</ul>

<hr>

<h3>Query Strings</h3>

<p>Los query strings se almacenan en el objeto <code>req.query</code></p>

<p>Ejemplo de páginas de tienda:</p>
<ul>
    <li>
        <a href="/tienda?prenda=pantalon&temporada=verano&talla=M&color=rojo" target="_blank">Ejemplo 1</a>
    </li>
    <li>
        <a href="/tienda?prenda=blusa&temporada=invierno&talla=S&color=caqui" target="_blank">Ejemplo 2</a>
    </li>
</ul>


<hr>

<h3>Formulario de búsqueda (GET)</h3>

<p>Los datos introducidos en un formulario GET son enviados en la propia URL como query strings</p>

<p>Ejemplo de formulario:</p>
<ul>
    <li>
        <a href="/vuelos/buscar">Ejemplo</a>
    </li>
</ul>


<hr>